
@{
      var inst = ViewData["Instance"] as MVC_App.Models.Employee;
    //var inst = ViewBag.Instance as MVC_App.Models.Employee;       Can also be used as this

}

<h1>Main Index Method from Employee Customer using ViewData</h1>


<p>Hello this is the Employee's name: 
    @inst.EmployeeName
    
</p>
